
.navbar{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  


}

.navbarList{

  display: flex;
  gap: 50px;
  font-size: 18px;
  font-weight: 400;
  font-family: 'HelveticaforTarget', sans-serif;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;

  >p{
    display: flex;
    align-items: center;
  }

}